.header {
    padding: 100px;
    text-align: center;
    background: purple;
    color: orangered;
    font-size: 75px;
  }
body {
    background-color:blueviolet
}

.subheader {
    text-align: center;
    color: orangered;
    font-size: 50px;
}
.paragraph {
    color:black;
    font-size: 30px;
    
}
.unlistdescription {
    text-align: center;
    font-size: 35px;
}
.unorderedlist {
    text-align: center;
    font-size: 35px;
}
.rankedlistdescription {
    text-align: center;
    font-size: 35px;
}
.orderedlist {
    text-align: center;
    font-size: 35px;
}
.link {
    text-align: right;
    background: yellow;
    font-size: 25px;
}